.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center ;
  align-items: center;
  background-color: var(--secondary);
}
.container {
  height: 90%;
  padding: 2vh 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.p {
  color: var(--header-color);
  padding: 1vh 4vh;
  font-size: 3vh;
  font-weight: bold;
}
.pa {
  color: var(--header-color);
  font-size: 3vh;
  font-weight: bold;
  font-size: 2.5vh;
  bottom: 0;
}

.pb {
  cursor: pointer;
  font-size: 14px;
  color: var(--header-color);

  &&::after {
    content: "";
    width: 0%;
    background-color: chocolate;
  }
}

.pb:hover::after {
  width: 100%;
}

.one {
  width: 20%;
  height: 100%;
  background-color: var(--background);
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right {
  width: 20%;
  height: 100%;
  background-color: var(--background);
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9vh;
}
.side {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
  border-bottom: 0.2px solid rgb(199, 195, 195);
}
.img {
  width: 10vh;
  border-radius: 1vh;
}
.img img {
  height: 100%;
  width: 100%;
  border-radius: 3vh;
}

.two {
  width: 45%;
  height: 100%;
  background-color: var(--background);
  border-radius: 3vh;
  display: flex;
}
.left {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.each {
  height: 70%;
  width: 80%;
  /* background-color: var(--product); */
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image {
  height: 65%;
  width: 80%;
  padding-top: 10px;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--product);
}
.image img {
  width: 100%;
}
.Button {
  position: absolute;
  top: 1vh;
  left: 1vh;
  padding: 3px 15px;
  border-radius: 10px;
}
.image:hover .absolute {
  opacity: 0.9;
  transform: translateY(0);
}
.absolute {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100%;
  border-bottom-left-radius: 3vh;
  border-bottom-right-radius: 3vh;
  background-color: var(--product-color);
  opacity: 0;
  transform: translateY(30%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  border-top: 5px solid rgba(75, 71, 71, 0.642);
}

.details {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}
.details span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3vh;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.details span p {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.right1 {
  width: 65%;
  height: 100%;
  background: linear-gradient(rgba(19, 4, 5, 0), rgba(1, 1, 10, 0)),
    url("../../../assets/section3-image/one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3vh;
}

.three {
  width: 30%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  border-radius: 3vh;
}
.textDiv {
  height: 10%;
  padding: 0 4vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.threeone,
.threetwo {
  height: 95%;
  width: 50%;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.threeone {
  position: relative;
}
.threeone .side,
.threetwo .side {
  height: 24%;
  border: none;
}
.threetwo {
  position: relative;
}
@media screen and (max-width: 768px) {
  .main {
    height: fit-content;
    /* background-color: yellow; */
    border-top: 1px solid grey;
  }
  .container {
    padding: 3vh 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* background-color: aqua; */
    /* margin-bottom: 20vh; */
  }
  .one {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .side {
    width: 95%;
  }
  .two {
    width: 94%;
    margin: 2vh 0;
    /* padding: 0 2vh; */
    justify-content: space-between;
    align-items: center;
  }
  .right1 {
    height: 42vh;
    width: 62%;
  }

  .three {
    width: 93%;
  }
}
@media screen and (max-width: 555px) {
  .main {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .one {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .side {
    width: 95%;
  }
  .img {
    width: 8vh;
    border-radius: 1vh;
  }
  .each {
    height: 30vh;
    width: 40%;
  }
  .absolute {
    height: 30%;
  }
  .images {
    height: 60%;
    display: flex;
    width: 90%;
  }
  .images img {
    width: 45%;
  }
  .last {
    display: none;
  }
  .image {
    height: 25vh;
  }
  .details {
    height: 17vh;
  }
  .image img {
    height: 100% !important;
  }
  .left {
    flex-direction: column;
    width: 40%;
  }
  .left .each {
    width: 100%;
  }
  .left .each .Button {
    top: 2vh;
    left: 10px;
  }
  .right1 {
    width: 55%;
    height: 30vh;
  }
  .right {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    padding-top: 4vh;
    position: relative;
    border-radius: 0;
  }
  .textDiv{
    padding: 0 15px;
  }
  .p{
    padding-left: 2vh;
  }
  .pa, .p {
    font-weight: 600;
    font-size: 16px;
  }
  .pb {
    font-weight: 600;
    font-size: 12px;
  }
  .parent {
    width: 98%;
    height: fit-content;
    display: flex;
    overflow-x: scroll;
    padding-right: 1vh;
  }
}
