.filter {
  width: 100%;
  height: 10vh;
  background-color: chocolate;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter button {
  margin-right: 20px;
}
.filter ul {
  margin: 0;
  display: flex;
  list-style: none;
  gap: 20px;
}
.filter ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.text_box {
  height: 100%;
  width: 100%;
  background-color: rgba(20, 16, 16, 0.4);
  border-bottom-right-radius: 5vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  color: var(--light-text);
  padding-top: 10vh;
}
.text_box h1 {
  font-weight: 800;
  font-size: 15vh;
  margin-bottom: 0;
}
.text_box p {
  margin: 0;
  color: chocolate;
  font-size: 16px;
}
.product_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  /* gap: 3vh; */
  background-color: var(--light-text);
}

.left_div {
  height: 90vh;
  width: 37%;
  background: linear-gradient(rgba(19, 4, 5, 0), rgba(1, 1, 10, 0)),
    url("../assets/section1-image/one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  text-align: left;
  padding-left: 10px;
  position: relative;

  &&::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
    z-index: 1;
  }

  &&:hover::after {
    opacity: 0.4;
  }
}

.left_div h1 {
  position: relative;
  z-index: 3;
}
.right_div {
  height: 90vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.one {
  height: 68%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.one_left {
  height: 100%;
  width: 38%;
  background: linear-gradient(rgba(19, 4, 5, 0), rgba(1, 1, 10, 0)),
    url("../assets/section1-image/two.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  text-align: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &&::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
    z-index: 1;
  }
  &&:hover::after {
    opacity: 0.4;
  }
}
.p {
  opacity: 0;
  transition: opacity 0.3s ease;
  color: chocolate;
  font-weight: bold;
  z-index: 3;
  position: relative;
}
.one_left:hover .p,
.left_div:hover .p {
  opacity: 1;
}
.one_left p,
.one_left h1 {
  margin: 0;
  padding: 10px 0 0 20px;
  z-index: 4;
  position: relative;
}
.product_div button {
  position: absolute;
  bottom: 2vh;
  margin-left: 10px;
  z-index: 3;
}
.one_right {
  height: 100%;
  width: 60%;
  color: var(--header-color);
  /* background-color: brown; */
}

.all_products {
  height: 70%;
  display: flex;
  gap: 8vh;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: bisque; */
}
.top {
  display: flex;
  justify-content: space-between;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.products {
  border-radius: 50%;
  height: 14vh;
  width: 14vh;
  text-align: center;
  background-color: var(--background);
}
.products img {
  width: 10%;
  height: auto;
  object-fit: scale-down;
  cursor: pointer;

  &&:hover {
    scale: 1.2;
  }
}
.product_details {
  margin: 0;
  font-size: 12px;
}
.right_div img {
  height: 100%;
  width: 100%;
  border-radius: 5vh;
}
.size {
  height: 20px;
  width: 20px;
}
.image img {
  height: 100%;
  width: 100%;
  border-radius: 5vh;
}
.image {
  height: 40vh;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two {
  width: 97%;
  height: 28%;
  background-color: var(--background);
  border-radius: 20px;
  padding: 0 10px;
  color: var(--header-color);
}
.listing {
  display: flex;
  justify-content: space-around;
}
.each {
  height: 14vh;
  width: 23%;
  /* background-color: black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1px solid var(--header-color);
}
.each img {
  height: 90%;
  width: auto;
}
@media screen and (max-width: 768px) {
  .filter {
    display: none;
  }
  .text_box{  
    padding-top: 20vh;
  }
  .text_box h1 {
    font-weight: 600;
    font-size: 8vh;
    margin-bottom: 0;
  }
  .text_box p {
    margin: 0;
    color: chocolate;
    font-size: 10px;
  }

}
