.parent {
  background-color: var(--secondary);
  height: fit-content;
  padding: 1vh 0 6vh 0;
}
.p {
  color: var(--header-color);
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  padding: 2vh 0 2vh 3vh;
}
.span {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.products {
  border-radius: 50%;
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--product);
  position: relative;
}
.products img {
  width: 68%;
  height: auto;
  object-fit: scale-down;
  cursor: pointer;

  &&:hover {
    scale: 1.1;
  }
}
.product_details {
  margin: 0;
  font-size: 12px;
  color: var(--header-color);
  position: absolute;
  top: 17vh;
}
@media screen and (max-width: 768px) {
  .parent {
    width: 100%;
    height: fit-content;
    /* background-color: yellow; */
  }
  .span {
    display: grid;
    grid-template-columns: auto auto;
    /* height: fit-content; */
    /* background-color: blue; */
    justify-content: space-around;
    gap: 4vh;
    height: 100vh;
  }

  .p {
    font-weight: 600;
    font-size: 16px;
  }
  .span p {
    font-size: 13px;
  }
  .products {
    height: 17vh;
    width: 17vh;
  }
  .product_details {
    /* background-color: aqua; */
    width: 150%;
    text-align: center;
  }
}
