header {
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
  color: var(--header-color);
  height: 22vh;
  color: var(--light-text);
  font-family: var(--font);
}
.first {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid rgb(84, 80, 75);
}
.second {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  /* padding: 0 20px; */
}
.second .container {
  padding-right: 15px;
  display: flex;
  gap: 10px;
  padding: 0 15px;
  justify-content: space-around;
  /* background-color: antiquewhite; */
}
.second .container p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 7px;
}
.second .label_wrap {
  width: 40%;
  height: 40px;
}
.label_wrap{
  position: relative;
}
.label_wrap input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  border: none;
  padding-left: 10px;
  font-size: 1.2em;
  font-family: var(--font);
  font-weight: 400;
  color: var(--dark-text);
  outline: none;
}
.search{
  height: 25px;
  width: 25px;
  position: absolute;
  top: 1.4vh;
  right: 2vh;
  color: red;
}
.navBar {
  display: flex;
  justify-content: space-between;
  /* gap: 20vh; */
  width: 100%;
  align-items: center;
}
.navBar ul {
  display: flex;
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.navBar li {
  margin: 0 15px;
  font-size: 1.2em;
}

.navBar ul a {
  text-decoration: none;
  color: var(--dark-text);
  font-weight: 400;
  font-size: small;
  transition: color 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-text);

  &&:hover {
    color: rgb(128, 106, 95);
  }
}
.line {
  display: inline-block;
  padding-right: 20px;
  height: 25px;
  border-right: 1px solid rgb(84, 80, 75);
}
.no_line {
  display: inline-block;
  padding-right: 20px;
  height: 25px;
  border-right: 2px solid transparent;
}
.logo {
  height: 25vh;
  padding-left: 5px;
}
.size,
.bar {
  height: 25px;
  width: 25px;
}

.bar,
.close {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header {
    height: fit-content;
  }
  .first {
    display: none;
  }
  .search{
    top: 3vh;
    right: 15vh;
  }
  .second {
    display: flex;
    justify-content: space-around;
  }
  .logo {
    height: 20vh;
  }
  .second .label_wrap {
    position: absolute;
    top: 15vh;
    width: 100%;
    padding: 10px 0;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label_wrap input {
    width: 80%;
  }
  .second .container {
    display: none;
  }
  .bar {
    display: block;
    cursor: pointer;
  }
  body {
    font-size: 14px;
  }
  .first {
    display: flex;
  }

  .navBar {
    height: 110vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    display: none;
    background-color: #8383a1;
    padding: 1rem;
    padding-top: 8vh;
    color: white;
    transition: all 0.3s ease-in-out;
    z-index: 9;
    border-bottom-right-radius: 20px;
  }
  .navBar ul {
    flex-direction: column;
    padding: 0;
  }
  .navBar ul li {
    display: flex;
    width: 80%;
    margin-bottom: 2vh;

    &&:hover {
      border-right: 2px solid rgb(203, 196, 196);
    }
  }
  
  .navBar ul a {
    font-size: 14px;
    -webkit-tap-highlight-color: transparent; /* Remove mobile highlight */
    -webkit-focus-ring-color: transparent;     /* Remove iOS focus ring */

    &&:hover {
      color: var(--header-color);
    }
  }
  .navBar ul li .line {
    border: none;
  }

  /* Show nav when state is true */
  .show {
    display: block;
  }
  .close {
    display: block;
    position: absolute;
    color: red;
    font-weight: 900;
    top: 2vh;
    right: 3vh;
    height: 30px;

    &&:hover {
      background-color: white;
      border-radius: 5px;
    }
  }
}
