footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  background-color: var(--header-color);
}
.logo {
  height: 25vh;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  padding-right: 2vh;
}
.brand img {
  height: 4vh;
}
.mainGet {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
.get {
  width: 30%;
}
.get ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.get ul li {
  list-style: none;
  color: rgba(194, 194, 194, 0.534);
  font-size: 14px;
  cursor: pointer;

  &&:hover {
    color: var(--product-color);
  }
}
.subscribe {
  width: 54%;
  margin-top: 5vh;
}
.subscribe .span1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(9, 2, 66);
  /* position: relative; */
  height: 20vh;
  padding: 2vh 2vh;
  border-radius: 2vh;
  color: rgba(194, 194, 194, 0.697);
}
.subscribe .span1 h3 {
  color: var(--product-color);
}
.subscribe .span1 input {
  padding: 0 10px;
  width: 30vh;
  border-radius: 4vh;
  height: 6vh;
  outline: none;
  margin-right: 2vh;
}
.subscribe .span1 button {
  height: 6vh;
  width: 18vh;
  font-size: 14px;

  border-radius: 4vh;

  &&:hover {
    background-color: var(--product-color);
  }
}
.mail{
  display: flex;
}
.lock img{
  height: 4vh;
}
/* .payment{
  background-color: aqua;
  display: flex;
  justify-content: start;
} */
 /* .span2{
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: bisque;
 } */
.payment img {
  height: 15vh;
}
.largeImage {
  height: 6vh;
}
.largeImage2 {
  height: 4.6vh;
}

@media screen and (max-width: 768px) {
  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    height: 12vh;
  }
  .brand img{
    height: 3vh;
  }
  .mainGet {
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    width: 95%;
  }
  .get {
    width: 30%;
  }
  .subscribe {
    width: 95%;
  }
  .mail{
  display: flex;
  flex-direction: column;
}
  .span2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
  }
  .payment img {
    height: 8vh;
  }
  .subscribe .span1 input, .subscribe .span1 button {
    height: 5vh;
  }
}
