:root {
  --primary: #1D4ED8;
  --secondary: #efefef;
  --product: rgb(255, 255, 255);
  --background: #f7f7f7;
  --dark-text: #111827;
  --light-text: #ffffff;
  --hover: #0D9488;
  --button: #1D4ED8;
  --font: 'poppins', sans-serif;
  --Body-text: 'inter';
  --header-color: #010d2f;
  --header-bg-color: rgba(139, 136, 136, 0.3);
  --product-color: chocolate;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-text);
  cursor: grab;
  -webkit-tap-highlight-color: transparent; /* Remove mobile highlight */
  -webkit-focus-ring-color: transparent; /* Remove iOS focus ring */
}
Button{
  padding: 10px 20px;
  background-color: var(--button);
  color: var(--light-text);
  border: none;
  border-radius: 15px;
  cursor: pointer;

  &&:hover{
    scale: 1.01;
    background-color: var(--header-color);
    font-weight: 600;
  }
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

#chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #007bff;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 1000;
}

#chatbot-window {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  max-height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  display: none;
  flex-direction: column;
  z-index: 9999;
}
