:root {
  --primary: #1D4ED8;
  --secondary: #efefef;
  --product: rgba(255, 255, 255, 0.54);
  --background: #dfd8d8;
  --dark-text: #111827;
  --light-text: #ffffff;
  --hover: #0D9488;
  --button: #1D4ED8;
  --font: 'poppins', sans-serif;
  --Body-text: 'inter';
  --header-color: #010d2f;
  --header-bg-color: rgba(139, 136, 136, 0.3);
  --product-color: chocolate;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--light-text);
  cursor: grab;
  -webkit-tap-highlight-color: transparent; /* Remove mobile highlight */
  -webkit-focus-ring-color: transparent; /* Remove iOS focus ring */
}
Button{
  padding: 10px 20px;
  background-color: var(--button);
  color: var(--light-text);
  border: none;
  border-radius: 15px;
  cursor: pointer;

  &&:hover{
    scale: 1.01;
    background-color: var(--header-color);
    font-weight: 600;
  }
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}





